[Unit]
Description=Clean RakuOS Package Caches
Documentation=man:rakuos(8)
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/rakuos-cache-clean
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
