[Unit]
Description=Check for RakuOS Base Image Updates
Documentation=man:rakuos(8)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/rakuos/rakuos-update
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
